.box{
    width: 360px;
    border: 1px solid #333;
    position: relative;
    right:20px;
    transition: all 0.5s ease-out;
    animation: slideIn 0.5s ease-out;
    .closeBtn{
        position: absolute;
        top:-12px;
        right:-12px;
    }
    .toUnmont{
        height: 0;
        padding: 0;
        opacity: 0;
    }
}
.toUnmont{
    height: 0;
    padding: 0;
    opacity: 0;
    margin: 0;
}

@keyframes slideIn {
    0% {
        right:-380px;
    }
    100% {
        right:20px;
    }
  }