.box{
    width: 360px;
    border: 1px solid #333;
    box-sizing: border-box;
    position: relative;
    right:20px;
    transition: all 0.5s ease-out;
    animation: slideIn 0.5s ease-out;
    word-wrap: break-word;
    .closeBtn{
        display: none;
        position: absolute;
        top:-12px;
        right:-12px;
    }
    &:hover{
        .closeBtn{
            display: block;
        } 
    }
}
.toUnmont{
    border: none;
    // height: 0;
    padding: 0;
    // opacity: 0;
    margin: 0;
    transition: all 0.5s ease-out;
    animation: slideIn2 0.5s ease-out;
}

@keyframes slideIn {
    0% {
        top: 50px;
        height:0;
        opacity: 0;
    }
    100% {
        top: 0px;
        height:auto;
        opacity: 1;
    }
  }
@keyframes slideIn2 {
    0% {
        height:auto;
        opacity: 1;
    }
    100% {
        height:0;
        opacity: 0;
    }
  }