@black: #333;
@white: #fff;
@gray: #999;
@gray-light: #ddd;
@gray-lighter: #eee;
@gray-lightest: #fafafa;
@blue: #049cdb;
@blue-light: #5bc0de;
@blue-lighter: #99d9f7;
@blue-lightest: #cce5ff;
@red: #EF3535;
@orange: rgb(224, 125, 31);
@green: #11BF77;
@green-lighter: #2adf940e;
@purple: rgb(188, 47, 201);
@yellow: #F7B501;
@yellow2: #C39416;
@yellow-lightest: #f7b50138;