.person_news_box {
    padding: 60px 120px;
}


.searchBox {
    margin-bottom: 45px;
    position: sticky;
    top: 24px;
    z-index: 20;
    input {
        line-height: 32px;
    }
}




.search_btn{
    position: absolute;
    right:24px;
    top: calc(50% - 12px);
}

.newsNavBox{
    position: fixed;
    right: 24px;
    top:92px;
}

.aceEditorBox{
    min-height: 100px;
    max-height: 420px;
    &>div{
        border-radius: 12px;
        border: 2px solid #3333333f;
    }
}

.createNewBtn{
    position: fixed;
    right: 24px;
    bottom: 24px;
    z-index: 20;
}

.newsListBox{
    margin-top: 70px;
}

.newsItemBox{
    margin-bottom: 24px;
    &:last-child{
        margin-bottom: 0;
    }
}
@media screen and (max-width: 640px) {
    .person_news_box {
        padding: 14px;
        min-height: calc(100vh - 62px);
    }
    ul{
        margin-top: 70px;
    }

    .searchBox{
        margin-bottom: 45px;
        position: fixed;
        top: 87px;
        z-index: 20;
        width: calc(100% - 48px);
        input {
            font-size: 1.1em;
        }
    }
}
    