.hidde{
    display: none;
}
.box{
    position: fixed;
    right: 20px;
    top:120px;
    z-index: 99;
    display: grid;
    grid-template-rows: 32px auto;
    align-items: center;
    overflow-y: auto;
    height:80vh;
    .clear_btn{
        cursor: pointer;
        &:hover{
            background-color: rgb(26, 192, 221);
            color: #fff;
        }
    }
    
}
.notices_items_box{
    padding-left:12px;
}