html,body,#root,.project{
    height: 100%;
    transition: all 1s ease-out;
}
.light{
    height: 100%;
    header{
        position: sticky;
        top: 0;
    }
    .textColor,a{
        color: #333
    };
    .textColorGgray{
        color:#5e5e5e;
    }
    .btnDefault{
        background-color: #46a7a7;
        color: #186d6d;
    }
    .bg1{
        background-color: #fff;
    }
    .bg2{
        background-color: #fcfcfc;
    }
    .bg2_blue{
        background-color: #f2f4f5;
    }
    .bg3{
        background-color: #f3f3f3;
    }
    .cardBox{
        cursor: pointer;
        .title{
            font-weight: bold;
        }
        /* transform: scale(1.03); */
        transition: all 0.5s ease-out;
        &:hover{
            box-shadow: #d2dde7 0px 4px 24px;
            transform: scale(1.03);
            /* border: 2px solid #d2dde7; */
            background-color: #aadfdb;
            
        }
       
    }
}
.dark{
    height: 100%;
    header{
        position: sticky;
        top: 0;
    }
    // display: none;
    .textColor,a{
        color: #b9b9b9
    };
    
    .textColorGgray{
        color:#c2c2c2;
    }
    .btnDefault{
        background-color: #1a5050;
        color: #51a1a1;
    }
    .bg1{
        background-color: #1e1f21;
    }
    .bg2{
        background-color: #616161;
    }
    .bg2_blue{
        background-color: #2d3133;
    }
    .bg3{
        background-color: #8f8f8f;
    }
    .cardBox{
        cursor: pointer;
        .title{
            font-weight: bold;
        }
        /* transform: scale(1.03); */
        transition: all 0.5s ease-out;
        &:hover{
            box-shadow: #1e1f20 0px 4px 24px;
            transform: scale(1.03);
            /* border: 2px solid #d2dde7; */
            background-color: #1c2625;
    
        }
       
    }
}