.memorandumBox {
    .listBox{
        height: calc(100% - 35px);
    }
    .list_years {
        .year {
            
        }
        .mouth {
                
        }
        .dayList {
            
            li{
                padding: 16px;
                margin-bottom: 12px;
                &:first-child {
                }
                &:last-child {
                    border: none;
                    margin-bottom: 0;
                }
            }
            
            
        }

    }
}