.mobile_search{
    display: none;
    .input{
        border-radius: 12px;
        border-radius: 12px;
    }
}
.hotestNews{
    img{
        width: 100%;
        height: 200px;
    }
    section{
        font-size: 14px;
        line-height: 2em;
    }
    .hotestNews_content_box{
        height: calc(100% - 220px);
        overflow-y: hidden;
        padding-right: 12px;
        
        &:hover{
            &::-webkit-scrollbar{
                display: block; 
                
            }
        }
        .hotestNews_content_box_text,.news_content_box_text,h2,hr{
            // 解决滑动条影响内容宽度
            width: 100%;
        }
    }
    
}
.community_box{
    height: 100%;
    display: grid;
    grid-template-columns: 65% auto;
    grid-template-rows: 100%;
    column-gap: 24px;
    
    .hotestNews_box{
        display: grid;
        grid-template-columns: auto 300px;
        grid-template-rows: 100%;
        height: calc(100% - 43px);
        
        .hotestNews_comment_area{
            border-top-right-radius: 12px;
            border-bottom-right-radius: 12px;
            .hotestNews_comment_header_box{
                p{
                    font-size: 14px;
                }
            }
            .hotestNews_comment_area_box{
                padding-right: 12px;
                height: calc(100% - 58px);
                &:hover{
                    &::-webkit-scrollbar{
                        display: block; 
                        
                    }
                }
                li{
                    margin-bottom: 18px;
                    font-size: 14px;
                    display: flex;
                    align-items: center;
                    img{
                        margin-right: 8px;
                        width: 25px;
                        height: 25px;
                        border-radius: 50px;
                    }
                    .name{
                        font-size: 10px;
                        
                    }
                }
                .hotestNews_comment_area_box_text{
                    width: 242px;
                }
                IonIcon{
                    color: antiquewhite;
                }
            }
        }
    }
    .newest_news_box{
        .header_box{
            input{
                height:34px;
                border: 1px solid;
                background: none;
                border-top-left-radius: 6px;
                border-bottom-left-radius: 6px;
            }
            .search_btn{
                height: 34px;
                line-height: 34px;
                border-top-right-radius: 6px;
                border-bottom-right-radius: 6px;
            }
            padding-right: 12px;
        }
        .newest_news_box_content_outbox{
            height: calc(100% - 46px);
            overflow-y: auto;
            &:hover{
                &::-webkit-scrollbar{
                    display: block; 
                    
                }
            }
        }
        .newest_news_box_content_box{
            padding-right: 6px;
            // width: 672px;
            
            li{
                margin-bottom: 15px;
                font-size: 14px;
                img{
                    margin-right: 12px;
                    width: 80px;
                    height: 80px;
                    border-radius: 6px;
                }
                .name{
                    font-size: 10px;
                    
                }
                h3{
                    font-weight: bold;
                }
                .content{
                    font-size: 14px;
                }
                .bottomContent_box{
                    font-size: 12px;
                }
            }
        }
    }

   
}

.searchList{
    li{
        margin-bottom: 15px;
        font-size: 14px;
        img{
            margin-right: 12px;
            width: 80px;
            height: 80px;
            border-radius: 6px;
        }
        .name{
            font-size: 10px;
            
        }
        h3{
            font-weight: bold;
        }
        .content{
            font-size: 14px;
        }
        .bottomContent_box{
            font-size: 12px;
        }
    }
}
@media screen and (max-width: 1400px) {
    .community_box{
        display: flex;
        flex-direction: column;
        &>div{
            margin-bottom: 24px;
        }
    }
    // .hotestNews_comment_area{
    //     display: none;
    // }
    .community_box{
        display: flex;
        flex-direction: column;
        &>div:first-child{
            
        }
        .hotestNews{
            overflow-y: auto;
        }
        .hotestNews_box{
            
        }
    }
    .community_box .hotestNews_box {
        display: grid;
        grid-template-columns: 1fr 290px;
        grid-template-rows: calc(100vh - 152px);
        .hotestNews .hotestNews_content_box {
            padding-right: 0;
        }
        
    }
    .newest_news_box_content_box{
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 16px;
    }
    .header_box{
        div{
        display: none;
        }
    }
    
}
@media screen and (max-width: 640px) {
    .mobile_search{
        display: grid;
        grid-template-columns: 1fr auto;
        // position: relative;
        position: fixed;
        top: 74px;
        width: calc(100% - 24px);
        border-radius: 6px;
        // padding: 4px 12px;
        z-index: 50;
        input{
            border: none;
            background: none;
            
        }
        // &::after{
        //     content:"";
        //     width: 100%;
        //     border: 1px solid #b3b3b3;
        //     position: absolute;
        //     bottom: -8px;
        // }
    }
    .hotestNews {
        padding: 12px;
        .hotestNews_content_box{
            padding-right: 0;
        }
    }
    
    .community_box{
        .header_box{
            margin-bottom: 24px;
        }
    }
    .community_box .hotestNews_box{
        grid-template-columns: 1fr;
    }
    
    .hotestNews_comment_area{
        display: none;
    }
    .newest_news_box_content_box{
        display: grid;
        grid-template-columns: 1fr;
        column-gap: 0;
        li{
            margin-bottom: 15px;
            font-size: 14px;
            width: calc(100vw - 24px);
            img{
                margin-right: 12px;
                width: 80px;
                height: 80px;
                border-radius: 6px;
            }
            .name{
                font-size: 10px;
                
            }
            h3{
                font-weight: bold;
                font-size: 18px;
                width: calc(100vw - 140px);
            }
            .content{
                font-size: 16px;
            }
            .bottomContent_box{
                font-size: 14px;
            }
        }
    }
    .hotestNews{
        section{
            font-size: 1.1em;
            line-height: 2em;
        }
    }
    .hotestNews_content_box_text{
        section{
            display: none;
        }
        section:first-child{
            display: block;
        }
    }
    .community_box .hotestNews_box {
        grid-template-rows: auto;
    }
}
// @media screen and (min-width: 200px) {
//     .community_box .newest_news_box .newest_news_box_content_box li {
//         width: calc(100vw - 48px);
//         &>div:first-child{
//             display: grid;
//             grid-template-columns: 80px calc(100vw - 128px);
//             column-gap: 12px;
//             &>div{
//                 width: calc(100% - 36px);
//             }
//         }
//         h3{
//             white-space: nowrap; 
//             overflow: hidden; 
//             text-overflow: ellipsis; 
//         };
//         .content{
//             height:50px;
//             display: -webkit-box;
//             -webkit-box-orient: vertical;
//             -webkit-line-clamp: 3; /* number of lines to show */
//             overflow: hidden;
//             text-overflow: ellipsis;
//         }
//     }
    
// }