.searchSeaverBox{
    // user-select: none;
    width: 100%;
    height: 100%;
    
    .inputBox{
        height: 100%;
        // display: grid;
        // grid-template-columns: calc(100% - 32px) 32px;
        // grid-template-rows: 100%;
        position: relative;
        textarea{
            height: 45px;
            line-height: 26px;
        }
    }
    .loaderBox{
        text-align: center;
    }
    .aiAnswerBox{
        line-height: 24px;
        font-size: 15px;
        overflow-y: auto;
        .copyBtnBox{
            visibility: hidden;
        }
        hr{
            margin:12px 0;
        }
        &:last-child{
            margin-bottom: 0;
        }
        &:hover{
            .copyBtnBox{
                visibility: visible;
            }
        }
    }
    .robotBox{
        position: absolute;
        bottom: 0;
        height: calc(100% - 45px);
        display: flex;
        flex-direction: column;
        justify-content: end;
        &>div:first-child{
            max-height: calc(100% - 70px);
        }
    }
    .aiRobotBox{
        line-height: 37px;
        width: max-content;
    }
    .questionsBox{
        li{
            width: max-content;
            opacity: .5;
            cursor: pointer;
            &:hover{
                opacity: 1;
            }
        }
    }
    
}