.audioPlayerBox{
    position: relative;
    display: grid;
    img{
        position: relative;
        width:0;
        height:0;
        left:26px;
        top:26px;
        border-radius: 50px;
        // animation: audioPlayer3 0.5s linear 0.5s, audioPlayer 2s linear 0s infinite;
        animation: audioPlayer3 0.5s linear 0.5s, audioPlayer 2s linear 0s infinite;
        animation-fill-mode: forwards;
    }
    audio{
        position: absolute;

    }
    .audioPlayer{
        transition: all 0.5s ease-out;
    };
    .audioPlayerInfo{
        width: 200px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        animation: audioPlayer2 0.5s linear;
    };
}
.stopAudio{
    transform: scale(0);
    width: 0;
}
.activeAudio{
    transform: scale(1);
    width: auto;
}
.pauseAudio{
    img{
        animation: none;
    }
}
.musicName{
    min-width: 100px;
}
@keyframes audioPlayer {
    0% {
        transform: rotateZ(0deg);

    }
    100% {
        transform: rotateZ(360deg);
    }
  }
@keyframes audioPlayer3 {
    0% {
        width:0;
        height:0;
        left:-26px;
        top:26px;
    }
    100% {
        width:52px;
        height:100%;
        left:0;
        top:0;
    }
  }
@keyframes audioPlayer2 {
    0% {
        width: 0;

    }
    100% {
        width:200px;
    }
  }