* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
  font-family: 'Source Han Sans SC', sans-serif;
}

header{
    position: sticky;
    top: 0;
    z-index: 99;
}
aside{
    width:15vw;
    min-width: 120px;
    height: calc(100vh - 140px);
}
/* 设置全局链接颜色 */
a {
  /* color: #333; */
  text-decoration: none;
}
  
ul, ol, li {
  list-style: none;
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}
img{
    object-fit: cover;
}


.heightFull{
    height: 100%;
}
.widthFull{
    width: 100%;
}
.opacityHalf{
    opacity: 20%;
}
button {
  background-color: #007acc;
  color: #fff;
  padding: 10px 20px;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.flexC{
    display: flex;
    justify-content: center;
    align-items: center;
}
.flexB{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flexBS{
    display: flex;
    justify-content: space-between;
    align-items: start;
}
.flexS{
    display: flex;
    justify-content: start;
    align-items: center;
}
.flexSS{
    display: flex;
    justify-content: start;
    align-items: start;
}
.flexSC{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
}
.row{
    flex-direction: row;
}
.column{
    flex-direction:column;
}
.flexFull{
    flex: 1;
}
.grid{
    display: grid;
    grid-template-columns: 150px 1fr 90px;
}
.ma6{
    margin: 6px;
}
.maB6{
    margin-bottom: 6px;
}
.maR6{
    margin-right: 6px;
}
.maV6{
    margin-top: 6px;
    margin-bottom: 6px;
}
.ma12{
    margin: 12px;
}
.maL12{
    margin-left: 12px;
}
.maR12{
    margin-right: 12px;
}
.maB12{
    margin-bottom: 12px;
}

.maH12{
    margin-left: 12px;
    margin-right: 12px;
}

.maV12{
    margin-top: 12px;
    margin-bottom: 12px;
}
.ma16{
    margin: 16px;
}
.maL16{
    margin-left: 16px;
}
.maR16{
    margin-right: 16px;
}
.maB16{
    margin-bottom: 16px;
}

.maH16{
    margin-left: 16px;
    margin-right: 16px;
}

.maV16{
    margin-top: 16px;
    margin-bottom: 16px;
}

.ma24{
    margin: 24px;
}
.maL24{
    margin-left: 24px;
}
.maH24{
    margin-left: 24px;
    margin-right: 24px;
}
.maV24{
    margin-top: 24px;
    margin-bottom: 24px;
}
.maR24{
    margin-right: 24px;
}
.maB24{
    margin-bottom: 24px;
}
.pa6{
    padding: 6px;
}
.paV6{
    padding-top: 6px;
    padding-bottom: 6px;
}
.pa6{
    padding: 6px;
}
.paH6{
    padding-left: 6px;
    padding-right: 6px;
}
.paV6{
    padding-top: 6px;
    padding-bottom: 6px;
}
.pa12{
    padding: 12px;
}
.pa24{
    padding: 24px;
}
.paH12{
    padding-left: 12px;
    padding-right: 12px;
}
.paH24{
    padding-left: 24px;
    padding-right: 24px;
}
.paV12{
    padding-top: 12px;
    padding-bottom: 12px;
}
.paV24{
    padding-top: 24px;
    padding-bottom: 24px;
}
/* color */
.gray{
    color: #969696;
}
/* font */
.font_wenyue{
    font-family: 'huxiao', sans-serif;
}

.fontB{
    font-weight: bold;
}
.fontSmall{
    font-size: 12px;
}
.font14{
    font-size: 14px;
}
.font18{
    font-size: 18px;
}
.font24{
    font-size: 24px;
}

/* border */
.borderR6{
    border-radius: 6px;
}
.borderR12{
    border-radius: 12px;
}
.borderR50{
    border-radius: 50px;
}
.center{
    height: calc(100vh - 160px);
    display: flex;
    align-items: center;
    justify-content: center;
}
/* display */
.opacity0{
    opacity:0
}
.opacity20{
    opacity:0.2
}
.opacity50{
    opacity:0.5
}
.opacity100{
    opacity:1
}
.hidden{
    visibility:hidden;
}
.displayNone{
    display: none;
}
.textSingeLine{
    /* text-overflow: ellipsis;
    overflow: hidden;
    word-break: break-all;
    white-space: nowrap; */
        /*溢出部分隐藏*/
        overflow: hidden;
        /*禁止换行*/
        white-space: nowrap;
        /*显示省略号*/
        text-overflow: ellipsis;
}


