.flexWrap{
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    position: relative;
    // user-select:text;
    // &>div{
    //     transition: all 0.5s ease;
    // }
}
.testCard{
    position: absolute;
    top: 0;
    left: 0;
    // background-color: black;
    // padding: 8px;
    border: 6px solid transparent;;
    &>div{
        height: 100%;
        // margin: 6px;
        // overflow: auto; 
        &>div{
            background-color: black;
            
            height: 100%;
        }
    }
}