.item2_inner2{
    height:100%;
    display: grid;
    grid-template-rows: 1fr 45px;
    align-items: center;
    position: relative;
    .item2_inner2_inner1{
        font-size: 58px;
        text-align: center;
    }
    .editIcon{
        position: absolute;
        top:0;
        right:0;
    }
    .dateInput{
        line-height:40px;
        height: 40px;
    }
    .editBox{
        line-height:40px;
        height: 40px;
        input{
            padding-right: 10px;
        }
        input,.dateIcon{
            position: absolute;
            right: 0;
            height: 40px;
        }
    }
}
